body {  
margin-left:1px;
margin-right:1px;
width:320px;
}
h1 {color: white;text-align: center;}
p {color: white;text-align: justify;font-weight: bold;width:auto;margin:5px}
img { width: 100%; height: auto text-align: justify;margin:0 0 0 0;}